@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}




* {
  margin: 0px;
  padding: 0px;

}

/* nav section */

#nav-section {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #412567;
}

#nav-section div h1 {
  color: #FFFFFF;
}

#nav-section div h1 span {
  background: linear-gradient(90deg,
      rgba(251, 9, 180, 1), rgba(145, 0, 248, 1),
      rgba(247, 233, 63, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#nav-section div ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

#nav-section div ul a {

  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;


}

#nav-section div button {
  padding: 12px 16px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;

}

#nav-section div button:hover {
  box-shadow: 0px 0px 20px 0px rgb(255, 0, 0);
  transition: all 0.5s ease-in;
}

#img {
  display: none;
}


/* TechWave Section */
.Techweve-home-section-continer {
  background: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.Techweve-home-section-continer-img {
  background: url(./assets/hero-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px;
  margin-top: -110px;

}

.Techweve-home-section-continer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Techweve-home-section-continer-text h2 {
  font-size: 3.75rem;
  font-weight: 900;
  color: #FFFFFF;
}

.Techweve-home-section-continer-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffaf;
}

.Techweve-home-section-continer-button {
  margin-top: 24px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Techweve-home-section-continer-button-a {
  padding: 12px 20px;
  border-radius: 25px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
  ;
  border: none;

}

#Techweve-home-section-continer-button-a a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
}

#Techweve-home-section-continer-button-a:hover {
  box-shadow: 0px 0px 10px 0px yellow;
  transition: all 0.5s ease-in-out;
}


.Techweve-home-section-continer-button-b {
  padding: 12px 20px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid green;

}

.Techweve-home-section-continer-button-b a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
}

/* about section */


.about-the-podcast {
  width: auto;
  /* height: 646px; */

  background-color: #1A0B2E;
  padding: 50px 200px 120px 200px;
}

.about-text {
  display: grid;

  text-align: center;
}

.about-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1rem;
  margin-top: 101px;
}

.about-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffa4;
}

.hr {
  margin-top: 80px;
  /* background-color: #ffffff00; */
  color: #00FF88;
}

.list-section {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  list-style: none;
  gap: 80px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;




}

.list-section h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 1rem;
}

.list-section p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffa2;
}


/* why choose techwave section */


#why-choose-techwave-section {
  background-color: #230E3D;
  padding: 120px 0px;
}

.techwave {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}

.box-section {
  padding: 80px 5%;
  display: flex;
  justify-content: center;

}

.box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(160px, auto);
  gap: 30px;
}

.a,
.b,
.c,
.d,
.e {
  background-color: #351165;
  padding: 24px;
  border-radius: 18px;
}

.a {
  grid-row: span 2;
}

.b,
.c {
  grid-row: span 1;
  grid-column: span 2;
}

.d {
  grid-column: span 2;
}


.a h4 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #FFFFFF;
}

.b h4 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #FFFFFF;
}

.c h4 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #FFFFFF;
}

.d h4 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #FFFFFF;
}

.e h4 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #FFFFFF;
}

.a p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffb7;
}

.b p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffb7;
}

.c p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffb7;
}

.d p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffb7;
}

.e p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffb7;
}


/* Featured Episodes */




.Featured-Episodes-section {
  background-color: #1A0B2E;

}


.Featured-Episodes-section-heading h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 120px;


}

.Featured-Episodes-section-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 120px 200px;

}

.card1 {
  background-color: #250D44;

  border-radius: 12px;
}

.card1-text-content {
  padding: 24px;
}

.card1-text-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;



}

.card1-text-content p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff91;
  margin-top: 12px;
}

.card1-text-content-p {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 12px;

}



.footer-ar-upor-marjin{
  padding-bottom: 200px;
}
.Featured-Episodes-section-card-a-hero-img {
  gap: 24px;
  background-color: #270c49;
  padding: 40px;
  margin: 0px 200px 0px 200px;
  border-radius: 15px;

}

.Featured-Episodes-section-card-a-hero-img {
  display: flex;
}

.Featured-Episodes-section-card-a-content h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}

.Featured-Episodes-section-card-a-content p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff80;
  margin-top: 16px;
}

.Featured-Episodes-section-card-a-socal-links {
  margin-top: 16px;

}

.Featured-Episodes-section-card-a-socal-links img {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}
.Featured-Episodes-section-card-h1{
  margin-top: -120px;
  margin-bottom: 120px;
}

#footer-section {
  background: url(./assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.techwave-li {
  align-items: center;
  text-align: center;
}

.techwave-li h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
}

.techwave-li h1 span {
  background: linear-gradient(90deg,
      rgba(251, 9, 180, 1), rgba(145, 0, 248, 1),
      rgba(247, 233, 63, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.li-section ul {
  list-style: none;
  display: flex;
  gap: 40PX;
  align-items: center;
}

.li-section ul li a {
  text-decoration: none;
}

.li-section ul li {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 12px;
}
.li-section ul li{
color: #ffffff94;
}
.footer-p{
  padding-top: 32px;
  color: #ffffff7e;
}



@media screen and (max-width: 576px) {

  #nav-section div ul,
  #nav-section div button {
    display: none;
  }

  #img {
    display: flex;
  }

}

@media screen and (max-width: 576px) {

.techwave h2{
  align-items: center;
  text-align: center;
}
  .Techweve-home-section-continer {
    height: auto;

  }
  .Techweve-home-section-continer-img {
  background: url(./assets/hero-circle.png);
  background-position: center;
  background-repeat: no-repeat;


}
.Featured-Episodes-section-card-a-hero-img{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Techweve-home-section-continer-img{
  height: 250px;
  width: 10px;
}
.Techweve-home-section-continer-img img{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: -32px;
}

  .Techweve-home-section-continer-img {
    padding: 120px;
    margin-top: -60px;
    background-size: contain;
  }

  .Techweve-home-section-continer-text h2 {
    font-size: 2rem;
  }

  .Techweve-home-section-continer-text p {
    font-size: 0.9rem;
  }

  .Techweve-home-section-continer-button {
    display: flex;
    width: 100%;
  }

  #Techweve-home-section-continer-button-a,
  .Techweve-home-section-continer-button-b {
    width: 100%;
    text-align: center;
  }


  .about-the-podcast {
    padding: 40px 16px;
  }

  .about-text h1 {
    font-size: 2rem;
    margin-top: 40px;
  }

  .list-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
  }


  .box {
    grid-template-columns: 1fr;
  }

  .a,
  .b,
  .c,
  .d,
  .e {
    grid-column: span 1;
    grid-row: span 1;
  }


  .Featured-Episodes-section-card {
    grid-template-columns: 1fr;
    padding: 40px 16px;
  }



  #footer-section {
    height: auto;
    padding: 60px 16px;
    width: auto;
  }

  .li-section ul {
    gap: 16px;
  }
}
